@media (min-width: 100px) {
  .layout {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 481px) {
  .layout {
    display: flex;
    flex-direction: row;
  }
}


