@media (min-width: 100px) {
  .mobile-layout {
    display: flex;
    flex-direction: column;
  }
  .pc-layout {
    display: none;
  }
}

@media only screen and (min-width: 481px) {
  .mobile-layout{
    display: none;
  }

  .pc-layout {
    display: flex;
    flex-direction: column;
  }
}
