// TODO : mui의 테마를 scss로 import할 수 있는 방법을 찾아볼것.

// color constants
$dark-text-strong: #ffffff;
$dark-text-alternative: #9b9b9b;
$dark-text-assistive: #42444c;
$dark-pink-normal: #cb62d0;
$dark-purple-normal: #877cfe;

// typography
@mixin Title3-emphasis {
  font-family: Pretendard Variable;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 1.6875rem */
}

@mixin Body1 {
  ont-family: Pretendard Variable;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.40625rem */
}

@mixin Body1-emphasis {
  font-family: Pretendard Variable;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 1.40625rem */
}

@mixin Body2 {
  font-family: Pretendard Variable;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
}

@mixin Body2-emphasis {
  font-family: Pretendard Variable;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 1.3125rem */
}

@mixin Caption {
  font-family: Pretendard Variable;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.125rem */
}
