@import 'react-big-calendar/lib/sass/styles';
@import './theme';
@import './calendar';
// TODO : 라이트모드 추가되면 테마에 맞게 색깔이 변경되도록 수정 예정입니다.
// https://mui.com/material-ui/experimental-api/css-theme-variables/overview/

.calendar-mini > .rbc-calendar {
  // ANCHOR : 달 표시
  .rbc-toolbar {
    margin-bottom: 1rem;
    .rbc-toolbar-label {
      @include Body2;
    }
  }
  // ANCHOR : 전체 캘린더 grid (flex)
  .rbc-month-view {
    gap: 0.75rem;
    // ANCHOR : 요일 표시
    .rbc-month-header .rbc-header {
      width: 1.25rem;
      @include Caption;
    }
    // ANCHOR : 날짜 표시
    .rbc-month-row {
      .rbc-row-content .rbc-row .rbc-date-cell {
        @include flex-box(column, center, center);
        width: 1.25rem;
        max-width: 1.25rem;
        @include Body2;
        // 오늘 날짜 표시
        &.rbc-now {
          @include Body2-emphasis;
        }
      }
    }
  }
}
