@import 'react-big-calendar/lib/sass/styles';
@import './theme';

@mixin flex-box($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.rbc-calendar {
  // 기본적으로 적용되어있는 border 제거
  .rbc-month-view,
  .rbc-header,
  .rbc-month-row,
  .rbc-day-bg {
    border: none !important;
  }
  // 현재 달 외의 날짜는 보이지 않게
  .rbc-off-range {
    visibility: hidden;
    cursor: pointer;
  }

  // 이벤트가 표시되는 줄 : 이벤트가 표시되지 않으므로 숨김
  .rbc-row-segment {
    display: none;
  }

  .rbc-month-view {
    gap: 0.75rem;
    // ANCHOR : 요일 표시
    .rbc-month-header {
      gap: 1rem;
      .rbc-header {
        color: $dark-text-assistive;
      }
    }
    // ANCHOR : 날짜 표시
    .rbc-month-row {
      .rbc-row-content .rbc-row {
        justify-content: space-between;
        .rbc-date-cell {
          @include flex-box(column, flex-start, center);
          padding: 0;
          color: $dark-text-alternative;
          // 오늘 날짜 표시
          &.rbc-now {
            color: $dark-purple-normal;
          }
          .event-icon {
            width: 0.25rem;
            height: 0.25rem;
            color: $dark-pink-normal;
          }
        }
      }
    }
  }
}
