@import 'react-big-calendar/lib/sass/styles';
@import './theme';
// TODO : 라이트모드 추가되면 테마에 맞게 색깔이 변경되도록 수정 예정입니다.
// https://mui.com/material-ui/experimental-api/css-theme-variables/overview/
@mixin flex-box($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.calendar-mini > .rbc-calendar {
  // 기본적으로 적용되어있는 border 제거
  .rbc-month-view,
  .rbc-header,
  .rbc-month-row,
  .rbc-day-bg {
    border: none;
  }
  // 현재 달 외의 날짜는 보이지 않게
  .rbc-off-range {
    visibility: hidden;
    cursor: pointer;
  }

  // 이벤트가 표시되는 줄 : 위젯에는 이벤트가 표시되지 않으므로 숨김
  .rbc-row-segment {
    display: none;
  }

  // ANCHOR : 달 표시
  .rbc-toolbar {
    margin-bottom: 1rem;
    .rbc-toolbar-label {
      @include Body2;
    }
  }
  // ANCHOR : 전체 캘린더 grid (flex)
  .rbc-month-view {
    gap: 0.75rem;
    // ANCHOR : 요일 표시
    .rbc-month-header {
      gap: 1rem;
      .rbc-header {
        width: 1.25rem;
        @include Caption;
        color: $dark-text-assistive;
      }
    }
    // ANCHOR : 날짜 표시
    .rbc-month-row {
      .rbc-row-content .rbc-row {
        justify-content: space-between;
        .rbc-date-cell {
          @include flex-box(column, center, center);
          padding: 0;
          width: 1.25rem;
          max-width: fit-content;
          .rbc-day-header {
            width: 1.25rem;
            max-width: fit-content;
            padding: 0;
          }
          color: $dark-text-alternative;
          @include Body2;
          .is-today {
            @include Body2-emphasis;
            color: $dark-purple-normal;
          }
          .event-icon {
            width: 0.25rem;
            height: 0.25rem;
            color: $dark-pink-normal;
          }
        }
      }
    }
  }
}
