@import 'react-big-calendar/lib/sass/styles';

@mixin flex-box($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.calendar-mini > .rbc-calendar {
  // 기본적으로 적용되어있는 border 제거
  .rbc-month-view,
  .rbc-header,
  .rbc-month-row,
  .rbc-day-bg {
    border: none;
  }
  // 현재 달 외의 날짜는 보이지 않게
  .rbc-off-range {
    visibility: hidden;
    cursor: pointer;
  }

  // 이벤트가 표시되는 줄 : 위젯에는 이벤트가 표시되지 않으므로 숨김
  .rbc-row-segment {
    display: none;
  }

  .rbc-row-content {
    .rbc-row {
      .rbc-date-cell {
        @include flex-box(column, flex-start);
        padding: 0px 10px;
        .rbc-day-header {
          color: #000000;
          &.is-today {
            color: #877cfe;
          }
          .event-icon {
            color: #cb62d0;
            width: 10px;
            height: 10px;
          }
        }
      }
    }
  }
}
