/* pretendard variable 폰트 */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');

html,
body {
  width: 100%;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

body * {
  transition:
    color 0.1s ease,
    background-color 0.3s ease; /* Apply transition to all children */
}

@media (min-width: 0px) {
  .mobile-layout {
    display: flex;
    flex-direction: column;
  }
  .pc-layout {
    display: none;
  }
}

@media (min-width: 481px) {
  .mobile-layout {
    display: none;
  }

  .pc-layout {
    display: flex;
    flex-direction: column;
  }
}
